{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourcegroups/GrafanaResourceRG-5902?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5902",
        "name": "GrafanaResourceRG-5902",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5902/providers/Microsoft.Dashboard/grafana/grafanaResource-8171?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-09-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/d49700f8-1bac-4e86-9b46-010f73bf49b5*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022810198ab-0000-0100-0000-6243be720000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/d49700f8-1bac-4e86-9b46-010f73bf49b5*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93?api-version=2021-09-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5902/providers/Microsoft.Dashboard/grafana/grafanaResource-8171",
        "name": "grafanaResource-8171",
        "type": "microsoft.dashboard/grafana",
        "sku": {
          "name": "Standard"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "createdByType": "Application",
          "createdAt": "2022-03-30T02:20:33.3889068Z",
          "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-03-30T02:20:33.3889068Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "grafanaVersion": null,
          "endpoint": "https://grafanaresource-8171.eus.azgrafana.io",
          "zoneRedundancy": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/d49700f8-1bac-4e86-9b46-010f73bf49b5*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022370010a3-0000-0100-0000-6243be720000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/d49700f8-1bac-4e86-9b46-010f73bf49b5*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93",
        "name": "d49700f8-1bac-4e86-9b46-010f73bf49b5*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5902/providers/Microsoft.Dashboard/grafana/grafanaResource-8171",
        "status": "Accepted",
        "startTime": "2022-03-30T02:20:34.2416498Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/d49700f8-1bac-4e86-9b46-010f73bf49b5*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002237003da3-0000-0100-0000-6243bfb60000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/d49700f8-1bac-4e86-9b46-010f73bf49b5*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93",
        "name": "d49700f8-1bac-4e86-9b46-010f73bf49b5*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5902/providers/Microsoft.Dashboard/grafana/grafanaResource-8171",
        "status": "Succeeded",
        "startTime": "2022-03-30T02:20:34.2416498Z",
        "endTime": "2022-03-30T02:25:58.7676017Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5902/providers/Microsoft.Dashboard/grafana?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "8f5168f8-2eb6-4e0b-90b8-4831c57b467c",
          "c9ed75ad-c6f3-4cbe-9210-1573d3955998",
          "a155a3b5-d797-4231-b3a9-2aa8ccd86b35",
          "e19133fa-bb57-4f9e-a305-12c6b88a950c",
          "6a5417fd-c254-464c-865b-3d23180754e0",
          "bfbea668-dc68-4804-be5b-d4bb20716f4c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5902/providers/Microsoft.Dashboard/grafana/grafanaResource-8171",
            "name": "grafanaResource-8171",
            "type": "microsoft.dashboard/grafana",
            "sku": {
              "name": "Standard"
            },
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "createdByType": "Application",
              "createdAt": "2022-03-30T02:20:33.3889068Z",
              "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-03-30T02:20:33.3889068Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "grafanaVersion": "8.4.3",
              "endpoint": "https://grafanaresource-8171.eus.azgrafana.io",
              "zoneRedundancy": "Disabled"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/bc6865c0-076e-4994-ade4-3d214dc3baff*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002237006ca3-0000-0100-0000-6243c1130000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/bc6865c0-076e-4994-ade4-3d214dc3baff*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93",
        "name": "bc6865c0-076e-4994-ade4-3d214dc3baff*87AF4D2573947BEA78AFCB3ED71589652B2BA23437792895B457FBE3F5536A93",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5902/providers/Microsoft.Dashboard/grafana/grafanaResource-8171",
        "status": "Succeeded",
        "startTime": "2022-03-30T02:26:08.8232634Z",
        "endTime": "2022-03-30T02:31:47.6498108Z",
        "error": {},
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1209266444",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "122e56cf-cae4-4c70-ae92-00b5f83fdf69"
  }
}
