{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourcegroups/GrafanaResourceRG-3897?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-3897",
        "name": "GrafanaResourceRG-3897",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-3897/providers/Microsoft.Dashboard/grafana/grafanaResource-2490?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-09-01-preview",
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "error": {
          "code": "QuotaLimitError",
          "message": "The quota limit for the current subscription \u0027122e56cf-cae4-4c70-ae92-00b5f83fdf69\u0027 has been exceeded. Quota limit is: 2."
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-3897/providers/Microsoft.Dashboard/grafana?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "caa4b130-98f4-4351-aa57-82b2ae21d3e3",
          "9ce00714-6edb-4de1-a07d-f6205d8c24ca",
          "72916814-4bc0-4889-aba3-b685ad535586",
          "b8be868a-0d55-4c1f-86aa-b09827b99c70",
          "23eb1a57-597f-45b8-bd17-5a4528045d4f",
          "26c1ca3c-5111-42f5-897d-cf7ef6583f9d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1225745597",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "122e56cf-cae4-4c70-ae92-00b5f83fdf69"
  }
}
