{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourcegroups/GrafanaResourceRG-5738?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5738",
        "name": "GrafanaResourceRG-5738",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5738/providers/Microsoft.Dashboard/grafana/grafanaResource-986?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-09-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/0822817f-3f4c-4ad4-9144-938d8581cf7d*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022280205b0-0000-0100-0000-62452d990000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/0822817f-3f4c-4ad4-9144-938d8581cf7d*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D?api-version=2021-09-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5738/providers/Microsoft.Dashboard/grafana/grafanaResource-986",
        "name": "grafanaResource-986",
        "type": "microsoft.dashboard/grafana",
        "sku": {
          "name": "Standard"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "createdByType": "Application",
          "createdAt": "2022-03-31T04:27:05.3308034Z",
          "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-03-31T04:27:05.3308034Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "grafanaVersion": null,
          "endpoint": "https://grafanaresource-986.eus.azgrafana.io",
          "zoneRedundancy": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/0822817f-3f4c-4ad4-9144-938d8581cf7d*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c0086dd-0000-0100-0000-62452d990000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11962"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/0822817f-3f4c-4ad4-9144-938d8581cf7d*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D",
        "name": "0822817f-3f4c-4ad4-9144-938d8581cf7d*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5738/providers/Microsoft.Dashboard/grafana/grafanaResource-986",
        "status": "Accepted",
        "startTime": "2022-03-31T04:27:05.779112Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/0822817f-3f4c-4ad4-9144-938d8581cf7d*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c0077e7-0000-0100-0000-62452eb10000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11947"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/0822817f-3f4c-4ad4-9144-938d8581cf7d*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D",
        "name": "0822817f-3f4c-4ad4-9144-938d8581cf7d*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5738/providers/Microsoft.Dashboard/grafana/grafanaResource-986",
        "status": "Succeeded",
        "startTime": "2022-03-31T04:27:05.779112Z",
        "endTime": "2022-03-31T04:31:45.634167Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5738/providers/Microsoft.Dashboard/grafana?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "ce3dc93b-bb89-4efc-a753-2198f562e671",
          "293c5428-685c-4157-9272-9771ebc79de8",
          "c26eda51-4b02-4deb-8eef-9ffcda76266e",
          "5c6a8585-8c97-4386-9691-386cf815bed9",
          "a065a119-c14a-41c6-81b9-63b7fb52face",
          "6f1cd865-d564-4640-b3b8-84e626de95a9"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5738/providers/Microsoft.Dashboard/grafana/grafanaResource-986",
            "name": "grafanaResource-986",
            "type": "microsoft.dashboard/grafana",
            "sku": {
              "name": "Standard"
            },
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "createdByType": "Application",
              "createdAt": "2022-03-31T04:27:05.3308034Z",
              "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-03-31T04:27:05.3308034Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "grafanaVersion": "8.4.3",
              "endpoint": "https://grafanaresource-986.eus.azgrafana.io",
              "zoneRedundancy": "Disabled"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/affb2e3b-5e14-4d30-aa46-4729576e4054*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220d004505-0000-0100-0000-624530800000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11925"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/affb2e3b-5e14-4d30-aa46-4729576e4054*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D",
        "name": "affb2e3b-5e14-4d30-aa46-4729576e4054*F6F90BE743AF2453D6992B6123C14A0183F40B02644668540293CCCE8AC3FA4D",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-5738/providers/Microsoft.Dashboard/grafana/grafanaResource-986",
        "status": "Succeeded",
        "startTime": "2022-03-31T04:32:05.9419415Z",
        "endTime": "2022-03-31T04:39:28.5807155Z",
        "error": {},
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1976496822",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "122e56cf-cae4-4c70-ae92-00b5f83fdf69"
  }
}
