{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourcegroups/GrafanaResourceRG-8502?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8502",
        "name": "GrafanaResourceRG-8502",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8502/providers/Microsoft.Dashboard/grafana/grafanaResource-1809?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-09-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/ae0d8b93-1cad-4243-806f-8ee69206f002*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002228023aa9-0000-0100-0000-62452ab80000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/ae0d8b93-1cad-4243-806f-8ee69206f002*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD?api-version=2021-09-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8502/providers/Microsoft.Dashboard/grafana/grafanaResource-1809",
        "name": "grafanaResource-1809",
        "type": "microsoft.dashboard/grafana",
        "sku": {
          "name": "Standard"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "createdByType": "Application",
          "createdAt": "2022-03-31T04:14:46.8464555Z",
          "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-03-31T04:14:46.8464555Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "grafanaVersion": null,
          "endpoint": "https://grafanaresource-1809.eus.azgrafana.io",
          "zoneRedundancy": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/ae0d8b93-1cad-4243-806f-8ee69206f002*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c00d49b-0000-0100-0000-62452ab70000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/ae0d8b93-1cad-4243-806f-8ee69206f002*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD",
        "name": "ae0d8b93-1cad-4243-806f-8ee69206f002*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8502/providers/Microsoft.Dashboard/grafana/grafanaResource-1809",
        "status": "Accepted",
        "startTime": "2022-03-31T04:14:47.8585143Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/ae0d8b93-1cad-4243-806f-8ee69206f002*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c008cd0-0000-0100-0000-62452c0a0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11982"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/ae0d8b93-1cad-4243-806f-8ee69206f002*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD",
        "name": "ae0d8b93-1cad-4243-806f-8ee69206f002*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8502/providers/Microsoft.Dashboard/grafana/grafanaResource-1809",
        "status": "Succeeded",
        "startTime": "2022-03-31T04:14:47.8585143Z",
        "endTime": "2022-03-31T04:20:26.1847643Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8502/providers/Microsoft.Dashboard/grafana?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "403327e1-8157-4ad8-a871-62af54106e24",
          "9f2b75ab-48ee-4368-b1e7-b73251a54b35",
          "3ebeef8f-0ad6-4c51-bc40-21bb3c7de8a6",
          "8b85457c-0db1-4044-9acc-e18307450793",
          "1549a1d3-4d17-432d-9e2c-981baf096049",
          "544669eb-9c2c-4787-b636-e315696f611d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8502/providers/Microsoft.Dashboard/grafana/grafanaResource-1809",
            "name": "grafanaResource-1809",
            "type": "microsoft.dashboard/grafana",
            "sku": {
              "name": "Standard"
            },
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "createdByType": "Application",
              "createdAt": "2022-03-31T04:14:46.8464555Z",
              "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-03-31T04:14:46.8464555Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "grafanaVersion": "8.4.3",
              "endpoint": "https://grafanaresource-1809.eus.azgrafana.io",
              "zoneRedundancy": "Disabled"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/03574d4d-0b5c-4e02-99ea-ea904a12cf49*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c007fdd-0000-0100-0000-62452d770000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11963"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/03574d4d-0b5c-4e02-99ea-ea904a12cf49*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD",
        "name": "03574d4d-0b5c-4e02-99ea-ea904a12cf49*0C3BBF649F16BA1C546BF3318CFD9815509F819AABBBEAE00C20EE81713B70DD",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8502/providers/Microsoft.Dashboard/grafana/grafanaResource-1809",
        "status": "Succeeded",
        "startTime": "2022-03-31T04:20:54.2601117Z",
        "endTime": "2022-03-31T04:26:31.9084202Z",
        "error": {},
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2049830244",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "122e56cf-cae4-4c70-ae92-00b5f83fdf69"
  }
}
