{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourcegroups/GrafanaResourceRG-110?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-110",
        "name": "GrafanaResourceRG-110",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-110/providers/Microsoft.Dashboard/grafana/grafanaResource-7195?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-09-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/4f1cfed2-2ed5-44b2-b0ab-62bd8b179b59*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221a010890-0000-0100-0000-62433f2c0000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/4f1cfed2-2ed5-44b2-b0ab-62bd8b179b59*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174?api-version=2021-09-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-110/providers/Microsoft.Dashboard/grafana/grafanaResource-7195",
        "name": "grafanaResource-7195",
        "type": "microsoft.dashboard/grafana",
        "sku": {
          "name": "Standard"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "createdByType": "Application",
          "createdAt": "2022-03-29T17:17:31.1840128Z",
          "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-03-29T17:17:31.1840128Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "grafanaVersion": null,
          "endpoint": "https://grafanaresource-7195.eus.azgrafana.io",
          "zoneRedundancy": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/4f1cfed2-2ed5-44b2-b0ab-62bd8b179b59*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223700f492-0000-0100-0000-62433f2c0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/4f1cfed2-2ed5-44b2-b0ab-62bd8b179b59*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174",
        "name": "4f1cfed2-2ed5-44b2-b0ab-62bd8b179b59*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-110/providers/Microsoft.Dashboard/grafana/grafanaResource-7195",
        "status": "Accepted",
        "startTime": "2022-03-29T17:17:32.271941Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/4f1cfed2-2ed5-44b2-b0ab-62bd8b179b59*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002237002193-0000-0100-0000-6243407d0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/4f1cfed2-2ed5-44b2-b0ab-62bd8b179b59*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174",
        "name": "4f1cfed2-2ed5-44b2-b0ab-62bd8b179b59*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-110/providers/Microsoft.Dashboard/grafana/grafanaResource-7195",
        "status": "Succeeded",
        "startTime": "2022-03-29T17:17:32.271941Z",
        "endTime": "2022-03-29T17:23:09.0176969Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-110/providers/Microsoft.Dashboard/grafana?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "d5f45940-892a-4d8d-a9ad-99c547f533d1",
          "e8af03e8-f624-4fbe-9b51-d012144dbe95",
          "eb90b80c-bd9d-4f48-91d9-cab71cdd8d7c",
          "c64226ba-e165-4e22-b817-2cd19767bbce",
          "3b54d412-9293-471d-b80e-832f05338e2e",
          "4feacc77-315d-4649-a11b-fbe546dced74"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-110/providers/Microsoft.Dashboard/grafana/grafanaResource-7195",
            "name": "grafanaResource-7195",
            "type": "microsoft.dashboard/grafana",
            "sku": {
              "name": "Standard"
            },
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "createdByType": "Application",
              "createdAt": "2022-03-29T17:17:31.1840128Z",
              "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-03-29T17:17:31.1840128Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "grafanaVersion": "8.4.3",
              "endpoint": "https://grafanaresource-7195.eus.azgrafana.io",
              "zoneRedundancy": "Disabled"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/9c9ca2a3-b68f-44a8-981d-572d3f1330cb*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002237005093-0000-0100-0000-624341dd0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11982"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/9c9ca2a3-b68f-44a8-981d-572d3f1330cb*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174",
        "name": "9c9ca2a3-b68f-44a8-981d-572d3f1330cb*E49D804B09A2E997561D1DFBFA372D5E4DEB489B30ABB42EBBD10136C914D174",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-110/providers/Microsoft.Dashboard/grafana/grafanaResource-7195",
        "status": "Succeeded",
        "startTime": "2022-03-29T17:23:39.9157389Z",
        "endTime": "2022-03-29T17:29:01.6036527Z",
        "error": {},
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "906685793",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "122e56cf-cae4-4c70-ae92-00b5f83fdf69"
  }
}
