{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourcegroups/GrafanaResourceRG-8326?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8326",
        "name": "GrafanaResourceRG-8326",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8326/providers/Microsoft.Dashboard/grafana/grafanaResource-8080?api-version=2021-09-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-09-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/51083077-231e-42b0-92ea-5afb6aec59bc*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103?api-version=2021-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228401e20a-0000-0100-0000-6243c1ec0000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/51083077-231e-42b0-92ea-5afb6aec59bc*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103?api-version=2021-09-01-preview",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8326/providers/Microsoft.Dashboard/grafana/grafanaResource-8080",
        "name": "grafanaResource-8080",
        "type": "microsoft.dashboard/grafana",
        "sku": {
          "name": "Standard"
        },
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "createdByType": "Application",
          "createdAt": "2022-03-30T02:35:23.4661672Z",
          "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-03-30T02:35:23.4661672Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "grafanaVersion": null,
          "endpoint": "https://grafanaresource-8080.eus.azgrafana.io",
          "zoneRedundancy": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/51083077-231e-42b0-92ea-5afb6aec59bc*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022370088a3-0000-0100-0000-6243c1eb0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/51083077-231e-42b0-92ea-5afb6aec59bc*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103",
        "name": "51083077-231e-42b0-92ea-5afb6aec59bc*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8326/providers/Microsoft.Dashboard/grafana/grafanaResource-8080",
        "status": "Accepted",
        "startTime": "2022-03-30T02:35:23.8779853Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/51083077-231e-42b0-92ea-5afb6aec59bc*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00223700b6a3-0000-0100-0000-6243c33c0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/51083077-231e-42b0-92ea-5afb6aec59bc*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103",
        "name": "51083077-231e-42b0-92ea-5afb6aec59bc*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8326/providers/Microsoft.Dashboard/grafana/grafanaResource-8080",
        "status": "Succeeded",
        "startTime": "2022-03-30T02:35:23.8779853Z",
        "endTime": "2022-03-30T02:41:00.5703318Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8326/providers/Microsoft.Dashboard/grafana?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "5894af7b-1894-42f1-9640-3edaee18840e",
          "1d55f083-79f3-4e66-9f87-9ca9ab23e618",
          "145629ec-4719-48c7-a39f-6a77793b3573",
          "32556f7f-115c-457c-b767-345124a91257",
          "cd0e3cef-6748-4c23-a431-980ee315de29",
          "a2484fdc-46fd-421a-b188-4602864c8520"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8326/providers/Microsoft.Dashboard/grafana/grafanaResource-8080",
            "name": "grafanaResource-8080",
            "type": "microsoft.dashboard/grafana",
            "sku": {
              "name": "Standard"
            },
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "createdByType": "Application",
              "createdAt": "2022-03-30T02:35:23.4661672Z",
              "lastModifiedBy": "06a0f085-cca8-448a-a143-8c1e84206d9c",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-03-30T02:35:23.4661672Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "grafanaVersion": "8.4.3",
              "endpoint": "https://grafanaresource-8080.eus.azgrafana.io",
              "zoneRedundancy": "Disabled"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/a44eb8fb-bf61-4b20-9c38-113280ee356d*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103?api-version=2021-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022370021b6-0000-0100-0000-624452fc0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Dashboard/locations/EASTUS/operationStatuses/a44eb8fb-bf61-4b20-9c38-113280ee356d*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103",
        "name": "a44eb8fb-bf61-4b20-9c38-113280ee356d*781678D07DA7724A79ACA719AF426D11ED1EFD7351101404AC061322BB6EE103",
        "resourceId": "/subscriptions/122e56cf-cae4-4c70-ae92-00b5f83fdf69/resourceGroups/GrafanaResourceRG-8326/providers/Microsoft.Dashboard/grafana/grafanaResource-8080",
        "status": "Succeeded",
        "startTime": "2022-03-30T12:48:58.1299658Z",
        "endTime": "2022-03-30T12:54:20.3728798Z",
        "error": {},
        "properties": null
      }
    }
  ],
  "Variables": {
    "RandomSeed": "618307008",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "122e56cf-cae4-4c70-ae92-00b5f83fdf69"
  }
}
